<table style="margin: auto; width: 60%; margin-bottom: 20px;">
    <tr>
        <td style="width: 50%; text-align: center;">
            <img src="~/images/access-denied.jpeg" width="250px" height="250px" style="text-align: center; padding: 15px;" />
            <h2>Acesso não autorizado</h2>
            <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
        </td>
    </tr>
</table>